<% content_for :title, "New donor" %>
 <%= link_to render 'home/header'%> 

<div class="custom-container">
  <h1>New donor</h1>
  <br>
  <%= render "form", donor: @donor %>

  <br>
  
<div class="actions">
  <%= link_to "Back to donors", donors_path, class: 'btn btn-info' %>
</div>

</div>
