 <%= link_to render 'home/header'%> 

<div class="container ">

  <% content_for :title, "New appointment" %>


  <div class="row text-center p-5">
    <div class="col-md-6 bg-white"> <br>
     <h1>Let's make </h1> <h1>Appointment</h1> 
     <p>Make Sure You Have 3 Month Gap From Your Last Donation </p>
      <%= render "form", appointment: @appointment %>
      <br>
    </div>

      <br>
    <div class="col-md-6 ">
      <h1 class= "text-white"> Business Hours </h1>
      <div class="col-md-5 bg-white offset-md-3">
        <br>
       <p>  Monday to Friday  </p>
       <p> 9:00 am to 6:00 pm  </p>
       <p> Saturday  </p>
       <p> 9:00 am to 12:00am  </p>
        <br>
       <p> Sunday is Day Off!!  </p>
       <br>
      </div>
    </div>
        <div class="actions">
          <br> <br>
          <%= link_to "<< Back to appointments", appointments_path , class: 'btn btn-info' %>
        </div>
  </div>
</div>